<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container  animate__animated animate__fadeInBottomRight">
        <div class="card" style="width: 10rem;">
            <img src="../../assets/img/28530-3-nike-shoes-transparent.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Card title</h6>
              <p>400.000 Fcfa</p>
              <a href="#" class="btn btn-success" routerLink="/product">Voir</a>
              <a href="#" class="btn btn-primary">Commander</a>
            </div>
          </div>  
        <div class="card" style="width: 10rem;">
            <img src="../../assets/img/28530-3-nike-shoes-transparent.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Card title</h6>
              <p>400.000 Fcfa</p>
              <a href="#" class="btn btn-success">Voir</a>
              <a href="#" class="btn btn-primary">Commander</a>
            </div>
          </div>  
        <div class="card" style="width: 10rem;">
            <img src="../../assets/img/28530-3-nike-shoes-transparent.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Card title</h6>
              <p>400.000 Fcfa</p>
              <a href="#" class="btn btn-success">Voir</a>
              <a href="#" class="btn btn-primary">Commander</a>
            </div>
          </div>  
        <div class="card" style="width: 10rem;">
            <img src="../../assets/img/28530-3-nike-shoes-transparent.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Card title</h6>
              <p>400.000 Fcfa</p>
              <a href="#" class="btn btn-success">Voir</a>
              <a href="#" class="btn btn-primary">Commander</a>
            </div>
          </div>  
        <div class="card" style="width: 10rem;">
            <img src="../../assets/img/28530-3-nike-shoes-transparent.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Card title</h6>
              <p>400.000 Fcfa</p>
              <a href="#" class="btn btn-success">Voir</a>
              <a href="#" class="btn btn-primary">Commander</a>
            </div>
          </div>  
        <div class="card" style="width: 10rem;">
            <img src="../../assets/img/28530-3-nike-shoes-transparent.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Card title</h6>
              <p>400.000 Fcfa</p>
              <a href="#" class="btn btn-success">Voir</a>
              <a href="#" class="btn btn-primary">Commander</a>
            </div>
          </div>  
        <div class="card" style="width: 10rem;">
            <img src="../../assets/img/28530-3-nike-shoes-transparent.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Card title</h6>
              <p>400.000 Fcfa</p>
              <a href="#" class="btn btn-success">Voir</a>
              <a href="#" class="btn btn-primary">Commander</a>
            </div>
          </div>  
        <div class="card" style="width: 10rem;">
            <img src="../../assets/img/28530-3-nike-shoes-transparent.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Card title</h6>
              <p>400.000 Fcfa</p>
              <a href="#" class="btn btn-success">Voir</a>
              <a href="#" class="btn btn-primary">Commander</a>
            </div>
          </div>  
        <div class="card" style="width: 10rem;">
            <img src="../../assets/img/28530-3-nike-shoes-transparent.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Card title</h6>
              <p>400.000 Fcfa</p>
              <a href="#" class="btn btn-success">Voir</a>
              <a href="#" class="btn btn-primary">Commander</a>
            </div>
          </div>  
        <div class="card" style="width: 10rem;">
            <img src="../../assets/img/28530-3-nike-shoes-transparent.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Card title</h6>
              <p>400.000 Fcfa</p>
              <a href="#" class="btn btn-success">Voir</a>
              <a href="#" class="btn btn-primary">Commander</a>
            </div>
          </div>  

          
    </div>
    
</body>
</html>
