<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container  animate__animated animate__fadeInBottomRight">
    <div class="card" style="width: 10rem;" *ngFor="let product of produits" >
      <img src="{{product.imageUrl}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-title">{{product.nom}}</h6>
        <p>Prix : {{product.prix}}</p>
        <a href="#" class="btn btn-success" [routerLink]="'/product/'+product.id">Voir</a>
        <a id="{{product.id}}" class="btn btn-primary" (click)="Oncommand(product.id)">Commander</a>
      </div>
    </div>

  </div>

</body>

</html>