<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="container text-center">
  <div class="row-custom">
    <div class="col" id="home-txt" class="animate__animated animate__fadeInLeft">
          <p>Tout ce que  vous <br>aimez,nous livrons <br>à votre <br> porte</p>
    </div>
    <div class="col">
      <img src="assets/img/Group%202.png"class="animate__animated animate__fadeInRight"  alt="" srcset="" height="400" width="550" id="home-img">
    </div>
  </div>
</div>
</body>
</html>
