<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="container text-center">
    <div class="row-custom">
      <div class="col" id="home-txt">
        <img src="assets/img/Logo easy shop 2.png" class="animate__animated animate__fadeInUp" alt="" srcset=""
          height="100px" width="100px">
        <form [formGroup]="signup" (ngSubmit)="onSubmit()" class="animate__animated animate__fadeInLeft">
          <div class="form-group">
            <input alt="Prénom" type="text" class="form-control" placeholder="Entrez votre prénom" [(ngModel)]="signupObj.prenom" formControlName="prenom">

          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Entrez votre nom" [(ngModel)]="signupObj.nom" required formControlName="nom">

          </div>
          <div class="form-group">
            <input type="email" class="form-control" aria-describedby="emailHelp"
              placeholder="Entrez votre adresse email" [(ngModel)]="signupObj.email" formControlName="email">

          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Entrez votre age" [(ngModel)]="signupObj.age" formControlName="age">

          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Entrez votre mot de passe" [(ngModel)]="signupObj.mdp" formControlName="mdp">

          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder=" Entrez votre pseudo" [(ngModel)]="signupObj.pseudo" formControlName="pseudo">
          </div>
          <button (click)="onSignUp()" type="submit" [disabled]="!signup.valid" class="btn btn-primary" id="btnvalid">S'inscrire</button>
        </form>
        <p id="conn">Avez-vous déja un compte?<a routerLink="/login">Connectez-vous ici</a></p>
      </div>
      <div class="col">
        <h1 style="color: #f53f26;"><strong>Inscription</strong></h1>
        <img src="assets/img/Group 40.png" class="animate__animated animate__fadeInRight" alt="" srcset="" height="350"
          width="500" id="home-img">
      </div>
    </div>
  </div>
</body>

</html>